.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #e8dcdc;
}
.home-image {
  width: 1920px;
  height: 326px;
  object-fit: cover;
}
.home-text {
  font-size: x-large;
  text-align: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
}
.home-text03 {
  text-align: center;
}
.home-text04 {
  font-size: large;
  text-align: justify;
  line-height: 1.18;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
}
.home-image1 {
  width: 393px;
  height: 217px;
  object-fit: cover;
  padding-top: var(--dl-space-space-unit);
}
.home-image2 {
  width: 393px;
  height: 393px;
  object-fit: cover;
}
.home-text12 {
  font-size: large;
  text-align: justify;
  line-height: 1.18;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
}
.home-link {
  font-size: 25px;
}
@media(max-width: 991px) {
  .home-text04 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-text12 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .home-text04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text12 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-text04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text12 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
